.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 40px;
  margin: auto;
  text-decoration: none;
}

.grid-container > div {
  background-color: rgba(241, 11, 11, 0);
  border: 1px solid black;
  padding: 1px;
  text-align: center;
  font-size: 25px;
  color:rgba(240, 240, 240, 0.938);
}
.all2{
  background-image: linear-gradient(rgba(0, 255, 0, 0.048),rgba(0, 204, 255, 0.158));
  background-position: center;
  background-size: cover;
}
.g1{
  background-image: linear-gradient(rgba(255, 255, 255, 0.199),rgba(255, 255, 255, 0.171)),url(../img/Hinh\ 3b.jpeg);
  background-position: center;
  background-size: cover;
}
.g2{
  background-image: linear-gradient(rgba(255, 255, 255, 0.123),rgba(255, 255, 255, 0.233)),url(../img/Hinh\ 4a.jpg);
  background-position: center;
  background-size: cover;
}
.g3{
  background-image: linear-gradient(rgba(255, 255, 255, 0.123),rgba(255, 255, 255, 0.171)),url(../img/Hinh\ 4b.jpg);
  background-position: center;
  background-size: cover;
}
.button1{
  background-color: orange;
  border-radius: 200px;
  width: 50%;
  margin-left: 25%;
  box-shadow: 0 9px #999;
}
.button1:hover{
  background-color: #4CAF50;
  color: white;
  
}
.button1:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button2{
  background-color: orange;
  border-radius: 200px;
  width: 50%;
  margin-left: 25%;
  box-shadow: 0 9px #999;

}
.button2:hover{
  background-color: #4CAF50;
  color: white;
}
.button2:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button3{
  background-color: orange;
  border-radius: 200px;
  width: 50%;
  margin-left: 25%;
  box-shadow: 0 9px #999;
}
.button3:hover{
  background-color: #4CAF50;
  color: white;
}
.button3:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

