.grid-container {
  width: 100%;
  height: 430px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: auto;
  text-decoration: none;
  background-color: rgb(151, 12, 12);
}

.grid-container > div {
  border: 5px solid black;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  position: relative;
  margin: 30px;
}

.g h2 {
  font-family: Playfair Display;
  font-size: 40px;
  margin-top: 10px;
  color: white;
}

.g p {
  padding: 10px;
  font-size: 30px;
  color: white;
  margin-top: 10px;
}

.button {
  background-color: white;
  color: black;
  font-size: 30px;
  border-radius: 200px;
  width: 30%;
  box-shadow: 0 9px #999;
  position: absolute;
  padding: 10px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.button:hover {
  background-color: #4caf50;
  color: white;
}
.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#g1 {
  background-image: url(../img/hình\1a.jpg);
}
