* {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  box-sizing: border-box;
  font-family: 'Cabin Condensed';
}

.nar-bar {
  position: relative;
  position: fixed;
  right: 0;
  transform: translateX(300px);
  z-index: 999;
  width: 300px;
  height: 100vh;
  background-color: #8d432a;
  color: #fff;
  transition: 300ms all ease-in-out;
}

.nar-bar__img {
  background-color: #8d432a;
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: block;
}
#close {
  font-size: 40px;
  background-color: #8d432a;
  margin: 20px 30px;
}

#close:hover {
  color: #396318;
}

.nar-bar__list {
  background-color: #8d432a;
  margin: 20px 30px;
}

.nar-bar__list a {
  text-decoration: unset;
  color: #396318;
  font-size: 30px;
}

.nar-bar__list a:hover {
  text-decoration: unset;
  color: #edddd4;
}

.nav-bar__donate {
  background-color: #8d432a;
  color: #fff;
  margin: 20px auto;
  font-size: 30px;
  font-family: 'Playfair Display';
  border: 1px dashed white;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
  width: 50%;
}

.nav-bar__donate:hover {
  border: 2px solid white;
  background-color: #396318;
}

.nar-bar__qr {
  background-color: #8d432a;
  width: 60%;
  margin: 0 auto;
  display: block;
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  background-color: #edddd4;
}

.header * {
  background-color: #edddd4;
}

.header__logo {
  margin-left: 5%;
}

.header__logo img {
  height: 120px;
  width: auto;
}

.header__name-img {
  height: 100px;
  width: auto;
  margin-left: 10%;
}

.header__nav-bar {
  margin-left: 60%;
}

.header__nav-bar__search {
  display: flex;
  text-align: center;
}

.header__nav-bar__search {
  border: white solid;
  width: 100%;
}

.header__nav-bar__search ion-icon {
  font-size: 150px;
  color: #fcfafa;
  margin-right: 30px;
}

.header__nav-bar__icon ion-icon {
  font-size: 50px;
  color: #396318;
  margin: 0 auto;
}

.header__nav-bar__icon ion-icon:hover {
  font-size: 50px;
  color: #fcfafa;
  background-color: #edddd4;
}
