

.new__title h1{
    color: red;
    margin-left: 10px;
}

.new__title h1::after{
    display: block;
    content: "";
    height: 2px;
    background-color: #e67e22;
    width: 200px;
}


.new__list-hot{
    width: 38%;
    float: left;
    margin-left: 9%;
    margin-top: 2%;
    /* border: 1px solid black; */


}

.new__list-hot img{
    width: 20%;
    height: 105px;
    padding: 1%;
}

.new__list-video{
   width: 38%;
    float: right;
    margin-right: 9%;
     margin-top: 2%;

}

.new__list-video img{
   width: 20%;
    height: 105px;
    padding: 1%;
  
}

.new__list-item{
    clear: both;
    list-style: none;
    margin-top: 0;
    margin-bottom: 3%;

}

.new__list-content{
    float: right;
    width: 80%;
    font-size: 80%;
    
}



.new__details{
  background-color: green;
  margin-top: 0;
  padding: 1%;
  margin-left: 1%;
  color: white;
}

.new__details:hover{
    color: white;
}

.new__title-hot,.new__title-video{
  margin-left: 5px;
}

.new__list-content h5,p{
  color: black;
}
.new__title-hot::after,.new__title-video::after{
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100%;
  margin-bottom: 1%;
}



.new__list-content a:hover{
  text-decoration: none;

}


