.new__title h1 {
  color: red;
  margin-left: 10px;
}

.new__title h1::after {
  display: block;
  content: '';
  height: 2px;
  background-color: #e67e22;
  width: 200px;
}

.new__list-hot {
  width: 38%;
  float: left;
  margin-left: 9%;
  margin-top: 2%;
  /* border: 1px solid black; */
}

.new__list-hot img {
  width: 20%;
  height: 105px;
  padding: 1%;
}

.new__list-video {
  width: 38%;
  float: right;
  margin-right: 9%;
  margin-top: 2%;
}

.new__list-video img {
  width: 20%;
  height: 105px;
  padding: 1%;
}

.new__list-item {
  clear: both;
  list-style: none;
  margin-top: 0;
  margin-bottom: 3%;
}

.new__list-content {
  float: right;
  width: 80%;
  font-size: 80%;
}

.new__details {
  background-color: green;
  margin-top: 0;
  padding: 1%;
  margin-left: 1%;
  color: white;
}

.new__details:hover {
  color: white;
}

.new__title-hot,
.new__title-video {
  margin-left: 5px;
}

.new__list-content h5,
p {
  color: black;
}
.new__title-hot::after,
.new__title-video::after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: ' ';
  width: 100%;
  margin-bottom: 1%;
}
.icon-new {
  font-size: 130%;
  margin-top: 0.5%;
}

.new__title {
  text-align: center;
  margin-bottom: 2px;
}

.zoom-main:hover {
  transform: scale(1.05);
}

.item-main {
  width: 63%;
  height: auto;
  margin: 0 auto;
}

.content-main {
  font-size: 85%;
  word-wrap: break-word;
  width: auto;
  text-align: center;
}

.item-main img {
  width: 100%;
  height: auto;
}

.new__item {
  width: 20%;
  float: left;
  margin-left: 4%;
}

.item {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.item img {
  width: 100%;
  height: auto;
}

.new__list-content a:hover {
  text-decoration: none;
}
.content-item {
  background-color: white;
  word-wrap: break-word;
  width: auto;
  text-align: center;
}

.content-item a:hover,
.content-main a:hover {
  text-decoration: none;
}

.zoom-item:hover {
  transform: scale(1.105);
}

@media all and (max-width: 600px) {
  .new__item {
    width: 60%;
    margin-left: 20%;
  }
}
