html {
  scroll-behavior: smooth;
}

.partner-info {
  background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.445)),
    url(../img/backgroundfooter.png);
  padding: 20px;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1000px;
}

.partner__introduce {
  margin-top: 15px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: 40px;
}

.partner__introduce__logo {
  font-size: 30px;
  color: white;
}

.partner__share {
  font-size: 35px;
  margin-left: 40%;
  margin-bottom: 6%;
  font-family: 'Font Playfair Display';
}

.partner__ibsen {
  margin-bottom: 2%;
  font-size: 23px;
  width: 200%;
}

.partner__heading {
  margin-top: 10%;
}

.partner__connect {
  float: left;
  margin-top: 3%;
  margin-left: 7%;
  margin-bottom: 20%;
}

.partner__icons {
  display: flex;
  border: white 2px solid;
  background-color: white;
  border-radius: 30px;
  justify-content: center;
}

.partner__icon ion-icon {
  font-size: 50px;
  margin-left: 7px;
}

.partner__introduce__logo ion-icon {
  float: left;
  margin-right: 4%;
  font-size: 45px;
}

.partner__iconworld {
  margin-top: 15px;
  font-size: 40px;
  color: #ca2127;
  float: left;
}

.partner__knot {
  z-index: 9999;
}

.partner__knot ion-icon {
  font-size: 80px;
  margin-left: 15%;
  position: fixed;
  background-color: rgb(151, 5, 5);
  border: 4px double white;
  border-radius: 50%;
}

.partner__knot ion-icon:hover {
  border: 5px solid white;
}

.partner__knot a {
  color: white;
  text-decoration: none;
  padding: 4px;
  width: 70px;
}

.partner__us {
  font-size: 35px;
  margin-bottom: 3%;
  color: white;
  font-family: 'Font Playfair Display';
}

.partner__subscribe {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
}

.partner__logo_ibsen img {
  width: 65%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.partner__update {
  font-size: 25px;
  color: white;
  margin: 20px;
  text-align: center;
}

.partner__commemt textarea {
  width: 60%;
  margin: 20px;
  color: black;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.partner__clickSubscribe {
  width: 20%;
  font-size: 30px;
  border: 3px solid white;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  background-color: rgb(102, 6, 6);
  align-items: center;
  margin: 20px auto;
}

.partner__clickSubscribe:hover {
  background-color: brown;
}

.partner__art {
  font-size: 25px;
  color: white;
  margin: 20px;
  text-align: center;
}
.partner__change {
  font-family: 'Playfair Display';
  font-size: 40px;
  display: inline-block;
  color: white;
}

.partner__mini {
  width: 100%;
  margin-bottom: 4px;
}

.partner__knot {
  position: absolute;
  right: 10px;
  bottom: 20px;
  position: fixed;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.partner__source {
  background-color: white;
  border-style: solid;
  border-top-color: white;
  border-top-width: 2px;
  position: relative;
}

.partner__copyright p {
  position: absolute;
  font-size: 25px;
  color: black;
  margin: 0;
  width: 100%;
  justify-content: center;
  text-align: center;
}
