.stories__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  position: relative;
  width: 500px;
  margin-left: 8%;
}

.story {
  border: 2px red solid;
  border-radius: 50px;
  background-color: rgb(151, 12, 12);
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.story__content {
  width: 100%;
  height: auto;
  color: black;
  background-color: white;
  padding: 50px;
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 100px;
  position: absolute;
}

.story img {
  border: solid 4px white;
  width: 500px;
  height: 500px;
  border-radius: 100px;
  position: relative;
  z-index: 100;
}

.story img:hover {
  border: solid 4px rgb(151, 12, 12);
  z-index: 0;
  transition: ease-in 0.3s;
}
