.Noidung1 {
  border-left-style: solid;
  border-right-style: solid;
  margin-top: 1%;
  border-style: solid;
  border-width: thick;
  padding: 2%;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(0, 128, 0, 0.089);
}
.Noidung2 {
  border-left-style: solid;
  border-right-style: solid;
  margin-top: 1px;
  border-style: solid;
  border-width: thick;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(236, 72, 72, 0.171);
}

.img1a {
  float: left;
}
.img2a {
  float: right;
}
b {
  font-size: 50px;
}
