
.img1{
    float: left;
    
}
.img2{
    float: right;
    margin-top :1%;
  
}
.ph1{
    padding: 90px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin-left: 1px;
    font-size: 120%;

}
.ph2::after.img1{
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin-top: 1%; 
    font-size: 120%;
   
}
body{
    background-image: linear-gradient(rgba(198, 237, 248, 0),rgba(212, 246, 252, 0.137)),url(http://inngochuong.com/uploads/images/mau-san-pham/mau-backgroud-dep-don-gian/them/backgroud-dep-phong-nen-mau-go-sang.jpg);
    background-position: center;
    background-size: cover;
}