/*  Font Cabin Condensed - content*/
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;700&display=swap');

/* Font Playfair Display - title*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,500&display=swap');

@import './header.css';
@import './news.css';
@import './partner.css';
@import './stories.css';
@import './activities.css';

* {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 250, 240, 0);
  box-sizing: border-box;
  font-family: 'Cabin Condensed';
  color: aliceblue;
  font-size: 25px;
}

.heading {
  text-align: center;
  color: #0a360a;
  clear: both;
  margin: 40px;
  font-size: 60px;
  font-family: 'Playfair Display';
}

.heading::before {
  position: absolute;
  content: '';
  display: block;
  width: 300px;
  height: 3px;
  background-color: #0a360a;
  left: 50%;
  transform: translateX(-50%);
}
