@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

:root {
  --main-color: rgb(156, 21, 21);
  --button-color: rgb(90, 28, 28);
}
html {
  scroll-behavior: smooth;
}

.nar-bar {
  position: relative;
  position: fixed;
  right: 0;
  transform: translateX(300px);
  z-index: 999;
  width: 300px;
  height: 100vh;
  background-color: var(--main-color);
  color: #fff;
  transition: 300ms all ease-in-out;
}

.nar-bar__img {
  width: 110%;
  height: auto;
  margin: 0 auto;
  display: block;
}

#close {
  font-size: 40px;
  background-color: var(--main-color);
  margin: 20px 30px;
  color: #fff;
}

#close:hover {
  color: #eea0a0;
}

.nar-bar__list {
  margin: 20px 30px;
}

.nar-bar__list a {
  text-decoration: unset;
  color: #fff;
  font-size: 30px;
}

.nar-bar__list a:hover {
  text-decoration: unset;
  color: #edddd4;
}

.nav-bar__donate {
  background-color: var(--main-color);
  color: #fff;
  margin: 20px auto;
  font-size: 25px;
  font-style: italic;
  font-family: 'Playfair Display';
  width: 100%;
  padding: 10px;
}

.nar-bar__qr {
  background-color: var(--main-color);
  width: 60%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 998;
  overflow: hidden;
  border-bottom: rgb(95, 91, 91) 2px solid;
}

.header__logo {
  margin: 4px 5%;
}

.header__logo img {
  height: 80px;
  width: auto;
}

.header__name-img {
  height: 150%;
  width: auto;
  margin: 0 auto;
}

.header__nav-bar {
  justify-self: end;
  transition: all ease-in-out 300ms;
}

.header__nav-bar.close {
  transform: translateY(100px);
}

.header__nav-bar__search {
  display: flex;
  text-align: center;
  border: white solid;
  width: 100%;
}

.header__nav-bar__search ion-icon {
  font-size: 150px;
  color: #fcfafa;
  margin-right: 30px;
}

.header__nav-bar__icon ion-icon {
  font-size: 50px;
  color: var(--button-color);
  margin: 0 auto;
}

.header__nav-bar__icon ion-icon:hover {
  font-size: 50px;
  color: #fcfafa;
  background-color: rgb(168, 6, 6);
  border-radius: 50%;
}

.search-box {
  position: fixed;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  z-index: 1000;
  transition: all ease-in-out 300ms;
}

.search-box__icon {
  position: absolute;
  left: 20px;
  color: black;
}

.search-box__close {
  position: absolute;
  right: 20px;
  color: black;
}

.search-box__input {
  width: 100%;
  padding: 5px 10px 5px 50px;
  margin: 0 auto;
  border-radius: 30px;
  outline: none;
  color: black;
}

.search-box.close {
  transform: translateY(-100px);
}

.story__container {
  width: 70%;
  background-color: rgba(255, 0, 0, 0.219);
  margin: 0 auto;
  padding-top: 5%;
  border: red 5px solid;
  border-radius: 10px;
}

.story__header {
  text-align: center;
  font-size: 60px;
}

.story__contents {
  font-size: 30px;
  padding: 20px;
}
.story__image {
  margin-top: 1%;
  border: 2px solid black;
  border-radius: 50%;
  width: 30%;
  margin-left: 35%;
}

.partner-info {
  background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.445)),
    url(../img/backgroundfooter.png);
  padding: 20px;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1000px;
}

.partner__introduce {
  margin-top: 15px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: 40px;
}

.partner__introduce__logo {
  font-size: 50px;
  color: white;
}

.partner__share {
  font-size: 35px;
  margin-left: 40%;
  margin-bottom: 6%;
  font-family: 'Font Playfair Display';
}

.partner__ibsen {
  margin-bottom: 2%;
  font-size: 23px;
  width: 200%;
}

.partner__heading {
  margin-top: 10%;
}

.partner__connect {
  float: left;
  margin-top: 3%;
  margin-left: 7%;
  margin-bottom: 20%;
}

.partner__icons {
  display: flex;
  border: white 2px solid;
  background-color: white;
  border-radius: 30px;
  justify-content: center;
}

.partner__icon ion-icon {
  font-size: 50px;
  margin-left: 7px;
}

.partner__introduce__logo ion-icon {
  float: left;
  margin-right: 4%;
  font-size: 45px;
}

.partner__iconworld {
  margin-top: 15px;
  font-size: 40px;
  color: #ca2127;
  float: left;
}

.partner__knot {
  z-index: 9999;
}

.partner__knot ion-icon {
  font-size: 80px;
  margin-left: 15%;
  position: fixed;
  background-color: rgb(151, 5, 5);
  border: 4px double white;
  border-radius: 50%;
}

.partner__knot ion-icon:hover {
  border: 5px solid white;
}

.partner__knot a {
  color: white;
  text-decoration: none;
  padding: 4px;
  width: 70px;
}

.partner__us {
  font-size: 35px;
  margin-bottom: 3%;
  color: white;
  font-family: 'Font Playfair Display';
}

.partner__subscribe {
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
}

.partner__logo_ibsen img {
  width: 65%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.partner__update {
  font-size: 25px;
  color: white;
  margin: 20px;
  text-align: center;
}

.partner__commemt textarea {
  width: 60%;
  margin: 20px;
  color: black;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.partner__clickSubscribe {
  width: 20%;
  font-size: 30px;
  border: 3px solid white;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  background-color: rgb(102, 6, 6);
  align-items: center;
  margin: 20px auto;
  color: white;
}

.partner__clickSubscribe:hover {
  background-color: brown;
}

.partner__art {
  font-size: 25px;
  color: white;
  margin: 20px;
  text-align: center;
}
.partner__change {
  font-family: 'Playfair Display';
  font-size: 40px;
  display: inline-block;
  color: white;
}

.partner__mini {
  width: 100%;
  margin-bottom: 4px;
}

.partner__knot {
  position: absolute;
  right: 10px;
  bottom: 20px;
  position: fixed;
}

.partner__source {
  background-color: white;
  border-style: solid;
  border-top-color: white;
  border-top-width: 2px;
  position: relative;
}

.partner__copyright p {
  position: absolute;
  font-size: 25px;
  color: black;
  margin: 0;
  width: 100%;
  justify-content: center;
  text-align: center;
}
